*{
  color:rgb(82, 231, 245);
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  background-color: black;
  justify-content: center;
}
.app{
  color: rgb(148, 135, 235);
  width: 90vw;
  

}

.nav header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
}

.nav header ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:2vw;
  text-decoration: none;
}
header ul li {
  list-style: none;
  font-size: 1.4vw;
  font-weight: bold;

}
header ul a{
  text-decoration: none;
}
header h1 a{
  text-decoration: none;
  font-size: 3vw;
  font-weight: bolder;
}

.register{
  display: flex;
  align-items: center;
  justify-content: center; 
  background-color: black;
  height: 85vh;


}
#reg-cont{
  margin-top: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 78vh;
  width: 80%;
  background-color: white;
  /* background-image: linear-gradient(45deg, rgb(233, 227, 240), rgb(210, 210, 245)); */
  border-radius: 10px;


}
.reg-right{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.reg-right form {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.reg-left {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

}
.reg-left img{
  height: 50vh;
}
.reg-right form{
  color:white;
}
.reg-right form input{
  width:70%;
  height:7vh;
  color:black;
  background-color: rgb(236, 237, 237);
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgb(163, 161, 161);
  padding: 5px 10px;
  /* margin-bottom: -50px; */
}
.reg-right form button{
  border: none;
  border-radius: 5px;
  background-color:rgb(116, 2, 245) ;
  width: 70%;
  height: 10vh;
  color: white;
  font-size: 1.5vw;
  font-weight: bold;
  margin-top: 20px;
}
.reg-right h1{
  color:rgb(116, 2, 245);
  font-size:3vw;
  font-weight: bold;

}
.reg-left p{
  color:black;
  margin-bottom: 10px;
  font-size: 1.5vw;
}
.reg-left a{
  text-decoration: none;
  font-size: 2vw;
  color:rgb(116, 2, 245);

}
.login{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  /* font-size: 1000px; */
}
.login-cont{
  background-color: white;
  /* font-size: 1; */
  margin-top: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 78vh;
  width: 80%;
  /* background-color: #2e2e2e; */
  border-radius: 10px;

}
.login-left{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.login-left img{
  height: 100%;
}
.login-right{
  width: 90%;
  height: 100%;
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.login-right form{
  height:50%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
.login-right form input{
  width: 70%;
  height: 8vh;
  padding: 5px 10px;
  color: black;
  background-color: rgb(236, 237, 237);
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 5px rgb(163, 161, 161);
}
.login-right form button{
  width: 70%;
  height: 10vh;
  padding: 5px 10px;
  color: white;
  border-radius: 5px;
  border: none;
  background-color: rgb(7, 104, 250);
  font-size: 1.5vw;
}
.login-right h1{
  color:rgb(7, 104, 250);
  font-size:3vw;
  font-weight: bold;
}
.login-right p{
  color:black;
  margin-bottom: 10px;
  font-size: 1.5vw;
}
.login-right p a{
  color: rgb(7, 104, 250);
  text-decoration: none;
  font-size: 2vw;
  font-weight: bold;
}
.contact{
  background-color:white;
  margin-top: 5vh;
  border-radius: 10px;
  box-shadow: 10px 10px 100px skyblue;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width:90%;
  margin-left: 5vw;
  margin-right: 5vw;
}
.cont-container{
  /* align-self: center; */
  height: 75vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
 
}
.con-left{
  width:50%;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.con-left img{
  /* width:100%; */
  height: 100%;
}
.con-right{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  height:100%;
}
.contact form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height:80%;
  width: 100%;
  color:white;
}

.contact form input{
  width: 70%;
  height: 7vh;
  padding: 5px 10px;
  color: black;
  background-color: rgb(209, 209, 255);
  border-radius: 5px;
  border: none;
  font-size: 1.3vw;
  /* box-shadow: 1px 1px 5px rgb(163, 161, 161); */
  
}
.contact form textarea{
  width: 70%;
  height: 25vh;
  color:black;
  padding:5px 10px;
  border-radius: 5px;
  background-color:rgb(209, 209, 255);
  border: none;
  font-weight: bold;
  font-size: 1.3vw;
  

}
.contact form button{
  background-color: rgb(2, 2, 246);
  color:white;
  width: 70%;
  height:8vh;
  border: none;
  border-radius: 5px;
  font-size: 1.5vw;
  font-weight: bold;
  margin-top: 10px;
}
.con-right h1{
  color:blue;
  font-weight: bold;
  font-size: 3vw;
}
.con-mid{
  width:30%;
}
.con-mid p{
  color:black;
  font-size:1.3vw;
  font-weight: bold;
}
.con-mid p a{
  color:blue;
  list-style: none;
  text-decoration: none;
  font-weight: bold;
}
.home{
  margin-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  width: 90%;
  margin-left: 5vw;
  font-size: 2vw;
  

}
.home-right{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
}
.home-left{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-around;
}
.home-right img{
   /* width:38vw; */
   margin-left: 10vw;
   height: 100%;
   border-radius: 30%;
   box-shadow: -10px -10px 10px skyblue;
}
.home-left h5{
  color:white;
}
.home-left h1{
   font-size: 5vw;
}
.home-left h4{
  font-size: 2.5vw;
  font-weight: bolder;
  color:rgb(134, 65, 245);
}
.home-left p{
  font-size: 1.4vw;
  color:white;
}
.home-links{
  display: flex;
  box-sizing: border-box;
  justify-content: space-around;
  align-items: center;
  gap:2vw;
  

}
.home-links button{
  width:20vw;
  height:10vh;
  border: 2px skyblue solid;

  color:skyblue;
  background-color: transparent;
  
  border-radius: 10px;
  font-size: 1.3vw;

}
#home-cont-btn{
  border: none;
  background-color: blue;
  width:20vw;
  height: 10vh;
  border-radius: 10px;
  color:white;
  font-size: 1.5vw;
}
.about{
  margin-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width:93vw;
}

.about-left{
  width:50%;
  /* height:60vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  

}
.about-right{
  width:48%;
  height:222vh;
  display: flex;
  /* align-items: center; */
  /* justify-content: space-around; */
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(24, 23, 23);
}
.about-right h1{
  color:violet;
}
.about-my-info{
  background-color: rgb(24, 23, 23);
  width:100%;
  height: 76vh;
  margin-right: 3vw;
  margin-bottom: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;

}
.about-me-left{
  width:30%;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding-right:30px ;
  
}
.about-me-right{
  width:70%;
  height:100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-around;
  padding: 5px 20px;
}
.about-me-right p{
  color:white;
  font-size: 1.2vw;
}
.about-me-right span{
  color: rgb(243, 199, 87);
  font-weight: bold;
  font-size: 1.3vw;
}
#resume-btn{
  border:none;
  border-radius: 5px;
  background-color: violet;
  color:white;
  height:6vh;
  width:8vw;
  margin-top: 2vh;
  font-size: 1.5vw;
  padding: 5px 10px;
}
.skills{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* height: 40%; */
  /* padding-bottom: 10px; */
}
.skills-desc{
  height: 80%;
  width: 95%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  font-size: 1.3vw;
  
}
.skills-desc h5{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(45, 45, 45);
  border-radius: 5px;
  padding: 5px 10px;

  /* justify-content: center; */
}
.skills-desc span{
  color:white;
  font-size: 1.3vw;
  /* font-weight: bold; */
  margin-left:20px ;
  margin-right: 0px;
  width: 60%;
}
.skills h1{
  color:violet;
  font-size: 1.5vw;
}
.about-me-cont{
  display: flex;
  flex-direction:  column;
  /* align-items: center; */
  justify-content: space-around;
  width:100%;
  height: 20%;
  color:white;
}
.about-me-cont h5{
  color:white;
  background-color:rgb(46, 46, 46);
  padding:5px 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap:0.2vw;
}
.about-me-cont img{
  width:2vw;
}
.skills-desc h5 a img{
  width:2vw;
 
}
.skills-desc a{
  color:white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap:1vw;
}

.phone-email{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap:0.5vw;
  font-size: 1.1vw;
}
.about-me-right h1{
  color:violet;
}
.about-me-left img{
  height:60%;
  border-radius: 10%;
  box-shadow: -5px -5px 10px skyblue;
}

.skills{
  background-color: rgb(24, 23, 23);
  width: 100%;
  height: 50vh;
  margin-right: 3vw;
}
.links{
 
  background-color: rgb(24, 23, 23);
  width: 100%;
  height: 33vh;
  margin-right: 3vw;
  margin-top: 10vh;
}
.achievments{
  background-color: rgb(24, 23, 23);
  width: 100%;
  height: 33vh;
  margin-right: 3vw;
  margin-top: 10vh;
}

.services{
  width: 90vw;
  /* height:100vh; */
  background-color: rgb(24,23,23);
  margin-top: 5vh;
  border-radius: 5px;
  /* margin-left: 2.5vw; */
  /* margin-right: 2.5vw; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.services h1{
  color:violet;
  margin-top: 2vh;
}
.service-container{
  /* background-color: #3b3b3b; */
  padding-left: 30px;
  display: flex;
  flex-wrap: wrap;
  gap:30px;
  width:100%;
  height:90%;
  margin-top: 5vh;
}
.service-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height:300px;
  width:250px;
  border: 2px solid rgb(26, 174, 232);
  padding: 5px;
  border-radius: 10px;
}
.ser-card-info{
  /* background-color: black; */
  width:92%;
  height:40%;
  margin-top: 7px;
  /* padding: 5px; */
  
}
.service-card img{
  height: 50%;
  width:80%;
  margin-top: 5px;
  border-radius: 5px;

}
.ser-card-info p{
  color:white;
  margin-top: 5px;
  font-size: 1vw;
}
.ser-card-info span{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.ser-card-info span a{
  color:rgb(247, 112, 2);
  font-size:1vw;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-around;

}
.ser-card-info span a img{
  width:1.5vw;
}

.error{
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  height:75vh;
  margin-left: 20vw;
}
.error h1{
  font-size: 10vw;
  color: orangered;
  font-weight: bold;
}
.error h3{
  font-size: 3vw;
  color:violet;
}

.error p{
  font-weight: 1.5vw;
  color:white;
}
.err-btns{
  margin-top: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap:2vw;
}
.err-btns a{
   text-decoration: none;
   border: 2px solid violet;
   color:violet;
   background-color: transparent;
   padding: 1vw;
   border-radius: 5px;
   /* margin-left: 2vw; */

}